<!DOCTYPE html>
<html>

<head>
  <title>Zornotza Hawks</title>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="views/img/logoSinTitulo.png">
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <link href="css/admin.css" rel="stylesheet" type="text/css" />
  
  
 
<!-- 
  <link href="css/presentacion.css" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" x
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js'></script>
  	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	 -->

  

</head>

<body id="bodyPresentacion">
  <div>
    <!--Hay que hacer una imagen de patrocinadores con 150px para que quede bien-->
    <img src="img/header.png" id="header">
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-bottom">
    <a class="navbar-brand" href="#">
      <img src="img/logoSinTitulo.png" alt="Zornotza Hawks" height="42" width="42">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav navbar-center mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="../index.php">Inicio <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="vPresentacion.html">Presentación <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="vInstalaciones.html">Instalaciones <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="vContactanos.html">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="vJugadores.html">Jugadores</a>
        </li>
      </ul>
      <div class="divider"></div>
      <div class="navbar-center">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Log In</button>
      </div>
    </div>
  </nav>

  <div class="container containerButtons">
    <div class="row">
      <div class="col-4">
        <button type="button" id="btnJugadores" class="btn custom-btn btn-secondary">Jugadores</button>
      </div>
      <div class="col-4">
        <button type="button" id="btnEntrenadores" class="btn custom-btn btn-secondary">Entrenadores</button>
      </div>
      <div class="col-4"><button type="button" id="btnUsuarios" class="btn custom-btn btn-secondary">Usuarios</button>
      </div>
    </div>
  </div>
  <br>
  <!--Mostrar datos en tabla desde BD-->
  <div class="container adminContainer">
    <div id="tablaJugador" class="adminJugadores col-12">
      
    </div>
    <div id="tablaEntrenador" class="adminEntrenadores col-12" >
      
    </div>
    <div id="tablaUser" class="adminUsuario col-12" >
     
    </div>
  </div>
  
  <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <h4>Modificar Usuario:</h4>
        	
			         	
			          <input type="hidden"  id="idUpdate" >
			         
			          Nombre de Usuario:<br>
			          <input type="text" id="usernameUpdate" >
			          <br>
			          Contraseña:<br>
			          <input type="text" id="contraseniaUpdate">
			          <br>
			          Nombre:<br>
			          <input type="text" id="nameUpdate">
			          <br>
			          Apellido:<br>
			          <input type="text" id="surnameUpdate">
			          <br>
			          Email:<br>
			          <input type="text" id="emailUpdate">
			          <br>
			          
			          <br>
			          <button id="btnExecUpdate" >Execute Update</button>
                </div>

            </div>
        </div>
    </div>
    
    
    
    <div class="modal fade" id="updateEntrenador" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <h4>Modificar Jugadores:</h4>
        	
			         	
			          <input type="hidden"  id="idUpdate" >
			         
			          Telefono:<br>
			          <input type="text" id="tlfUpdate" >
			          <br>
			          Direccion:<br>
			          <input type="text" id="direccionUpdate">
			          <br>
			          Sueldo:<br>
			          <input type="text" id="sueldoUpdate">
			          <br>
			          Fecha de Contratacion:<br>
			          <input type="text" id="contratacionUpdate">
			          
			          <br>
			          <button id="btnExecUpdateEntrenador" >Execute Update</button>
                </div>

            </div>
        </div>
    </div>
    
    <div class="modal fade" id="updateJugadores" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <h4>Modificar Jugadores:</h4>


                  <input type="hidden"  id="idUpdate" >

                  Dirección:<br>
                  <input type="text" id="direccionUpdate" >
                  <br>
                  Dorsal:<br>
                  <input type="text" id="dorsalUpdate">
                  <br>
                  Posicion:<br>
                  <input type="text" id="posicionUpdate">
                  <br>
                  Telefono:<br>
                  <input type="text" id="tlfUpdate">
                  <br>
                  Altura:<br>
                  <input type="text" id="alturaUpdate">
                  <br>

                  <br>
                  <button id="btnExecUpdateJugador" >Execute Update</button>
            </div>

        </div>
    </div>
</div>

  <!-- <nav class="navbar sticky-bottom navbar-light bg-light" id="footer">
    <a class="navbar-brand" href="vContactanos.html">¿Tienes alguna queja/problema? haz click aquí</a>
    <div class="iconos">
      <a href="https://www.facebook.com/"><img src="img/iconos/facebook.png" alt="" srcset=""></a>
      <a href="https://www.twitter.com"><img src="img/iconos/twitter.jpg" alt="" srcset=""></a>
      <a href="https://www.instagram.com/"><img src="img/iconos/instagram.png" alt="" srcset=""></a>
    </div>
  </nav> -->
  
  	<script src="js/jquery.min.js" type="text/javascript" ></script>
	<script src="js/angular.min.js" type="text/javascript" ></script>
  <script src="js/bootstrap.min.js" type="text/javascript" ></script>
  <script src="js/popper.min.js" type="text/javascript" ></script>
  
    <script src="js/jsFuntions.js" type="text/javascript"></script>
  <script src="js/vAdmin.js" type="text/javascript"></script>
</body>

</html>