
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/contactanos.css">
    <title>Document</title>
</head>
<body>

    <div class="header">


    </div>

    <nav id="navContactanos">
    <ul>
        <li>Inicio</li>
        <li>Equipos</li>
    </ul>
    

</nav>
<div id="container">

        <form action="" id="form">
            <label>Nombre: </label>
            <input type="text" name="FirstName">
            <label>Apellido: </label> <input type="text" name="LastName"><br>
            <label>Asunto: </label> <br><input type="text" name="asunto" size="35"><br>

            <label>Tu mensaje: </label> <br><textarea name="asunto"></textarea><br>
            <input type="submit" value="Submit">
            </form>

    </div>
</body>
</html>
