
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/contactanos.css">
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js'></script>
    <title>Document</title>
    
</head>
<body>

    <div class="header">


    </div>

    <nav id="navContactanos">
    <ul>
        <li>Inicio</li>
        <li>Equipos</li>
    </ul>
    

</nav>
<div id="container">

        <form action="" id="formContactanos">
            <span><label>Nombre: </label>
            <input type="text" name="FirstName"></span>
            <span><label>Apellido: </label> 
            <input type="text" name="LastName"></span><br>
            <label>Asunto: </label> <br><input type="text" name="asunto" size="35"><br>

            <label>Tu mensaje: </label> <br><textarea name="asunto"></textarea><br>
            <input type="button" value="Enviar" id="">
            </form>

    </div>
</body>
</html>
