<!DOCTYPE html>
<html>

<head>
  <title>Zornotza Hawks</title>
  <link rel="icon" type="image/png" href="views/img/logoSinTitulo.png">
  <script src="js/jsFuntions.js" type="text/javascript"></script>
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"x
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js'></script>
</head>

<body id="bodyInstalaciones">
    <div>
        <!--Hay que hacer una imagen de patrocinadores con 150px para que quede bien-->
        <img src="img/header.png" id="header">
      </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
        <a class="navbar-brand" href="#">
          <img src="img/logo.png" alt="Zornotza Hawks" height="42" width="42">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav navbar-center mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="../index.html">Inicio <span class="sr-only"></span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="vPresentacion.html">Presentación <span class="sr-only">(current)</span></a>
              </li>
    
              <li class="nav-item">
                  <a class="nav-link" href="vInstalaciones.html">Instalaciones <span class="sr-only"></span></a>
                </li>
            <li class="nav-item">
              <a class="nav-link" href="vContactanos.html">Contacto</a>
            </li>
          </ul>
          <div class="divider"></div>
          <div class="navbar-center">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Log In</button>
          </div>
        </div>
      </nav>
      <br>
     <div class="vCenter">
      <h1>Instalaciones</h1>

      <p><strong> Zornotza Hawks</strong> te ofrece las más completas instalaciones para practicar baloncesto.</p><br>
      <h2>estas son nuestras instalaciones:</h2>
      
    </div>
      <br>
        <div class="container">
            <div class="row rowImagen">
                <div class="col-md-4 col-xs-12"> 
                  <img src="https://news.mondoiberica.com.es/wp-content/uploads/2016/11/amorebieta.jpg" class="img-responsive vImg inline-block" alt="Responsive image" />
                </div>
                <div class="col-md-4 col-xs-12">
                    <img src="https://dotb.eus/wp-content/uploads/2016/11/2016.11.23-Larreako-kantxa.jpg" class="img-responsive vImg inline-block" alt="Responsive image" />
                </div>
                <div class="col-md-4 col-xs-12">
                    <img src="https://static3.elcorreo.com/www/multimedia/201707/07/media/cortadas/Urgozo%201-k5xF--624x385@El%20Correo.jpg" class="img-responsive vImg inline-block" alt="Responsive image" />
                </div>
            </div>
            <div class="row rowImagen">
                <div class="col-md-4 col-xs-12"> 
                  <img src="https://amorebieta.com/wordpress/wp-content/uploads/2016/11/IMG_9082-Copiar-730x365.jpg" class="img-responsive vImg inline-block" alt="Responsive image" />
                </div>
                <div class="col-md-4 col-xs-12">
                    <img src="https://pbs.twimg.com/media/DQmchyQW4AAJd1x.jpg" class="img-responsive vImg inline-block" alt="Responsive image" />
                </div>
                <div class="col-md-4 col-xs-12">
                    <img src=http://www.zornotzast.eu/s/cc_images/cache_2409707865.jpg?t=1317110306" class="img-responsive vImg inline-block" alt="Responsive image" />
                </div>
            </div>
        </div>
    
</body>

</html>