
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Create new User</title>

	<style type="text/css">

    #container{
     width:50vw; 
      margin:10px 100px;
    }
	
	</style>
</head>
<body>

<div id="container" >
	<h1>Create new User page</h1>
	
	
	<fieldset >
		<label for="userName">Username</label><br/>
		<input type="text" id="username"  /><br/>
		
		<label for="password">Password</label><br/>
		<input type="password" id="password"/>
		<label for="admin">Admin</label>
		<input type="checkbox" id="admin" value="1" checked /><br/><br/>
		
		
		<label for="nombre">Name</label><br/>
		<input type="text" id="name" /><br/>
		
		<label for="surname">Surname</label><br/>
		<input type="text" id="surname" /><br/>
		
		<label for="email">email</label><br/>
		<input type="text" id="email"  /><br/>
		
		<label for="homePage">homePage</label><br/>
		<input type="text" id="homePage"  /><br/><br/>
		
	</fieldset><br/><br/>
	<button id="saveUser">Save user</button>
	
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/jsFunctionsNewUser.js"></script>  
</body>
</html>