body{
    overflow-x: hidden;
}

.container{
    background-color: white;
}

h2{
    text-align: center;
}
h3{
    text-align: center;
}
p{
    padding-left: 80px;
}

body {
		font-family: 'Varela Round', sans-serif;
    }
#fotoPresentacion img{
        width: 600px !important;
        height: 600px;
       
}
#fotoPresentacion{
    display: flex;
    justify-content: center;
}
#mvp{
    display: flex;
    align-items: center;
    height: 50px;
    cursor: pointer;
}


	
