/* Esto es para la vista vInstalaciones*/

.vInstalacionesImagen{
  padding: 5px;
  text-align: center;

}
.rowImagen{
  padding: 5px;
}
.vImg{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.vCenter{
  text-align: center;
  size: 18px;
}
/*-----------------------*/