body{
    margin: 0px;
    padding: 0px;
}

/*estilo para la vista INDEX*/

  /*estilo para categorias*/



/*para centrar el NAVBAR*/





/*-----------------------------------*/


/* Esto es para la vista vJugadores*/
/* #infoEquipos {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(209, 209, 209);
}
#infoJugadores{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 40px;
}
#infoEntrenadores{
    display: grid;
    grid-template-columns: auto auto;
}
#infoEquipos h4{
    margin-top: 150px;
    font-family: Impact;
    color: rgb(134, 108, 108);
    text-shadow: 2px 2px black;
}
#infoEquipos img{
    margin: 10px;
}
#inputGroupSelect01{
    position: absolute;
    top: 250px;
    left: 30px;
    height: 30px;
    width: 100px;
} */

/*Estilo de los equipos*/
.infoEquipos{
	margin-top: 10px;
	margin-bottom: 10px;
    background-color: white;
    border: 1px solid black;
}

.teamName{
	color: #45aba6;
	font-family:Courier New;
	background-color:#0cf3c1;
	margin-bottom: 0;
}

.infoEquipos>.row{
    margin: 0;
    
}


.infoEquipos>.row>div{
    border: 1px solid #099e7e;
}

.nameCat{
	color: #45aba6;
	text-decoration: underline;
	font-weight: bold;
}
/*---------------------*/


/* css de cards*/

.card{
    margin: 5px;
	transition: 1s color;
	transition: 1s background-color;
}
.card-container{
    justify-content: space-around !important;
}

.card-body>ul{
    padding: 0;
    list-style-type: none;
}
.card:hover{
    background-color: #45f854;
	color: white;
	cursor: pointer;
}
.imgTecnico{
	height: 270px;
	
}
.imgJugador{

	width: 100% !important;
	height: 220px;
}
.card-img-top{
	border-radius: 50% !important;
}


/* css de modal*/

#exampleModal .modal-title h5{
	font-weight: bold;
}
#exampleModal .modal-body img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

#exampleModal .modal-body{
	display: grid;
	grid-template-columns: auto auto;
}

/*--------------------------*/
h4:nth-child(1){
    margin-left: 50px;
}
@media(max-width:800px){
    #infoEquipos {
        grid: none;
    }
    #infoEquipos h4{
        text-align: center;
    }
    #infoEntrenadores{
        margin-left: 37px;
    }
}
@media(max-width:600px){
    #infoJugadores{
        grid: none;
    }
    #infoEntrenadores{
        grid: none;
    }
}
/* Esto es para la vista vJugadores*/


body {
		font-family: 'Varela Round', sans-serif;
	}
	
