body{
    margin: 0px;
    padding: 0px;
}

/*estilo para la vista INDEX*/

  /*estilo para categorias*/



/*para centrar el NAVBAR*/





/*-----------------------------------*/


/* Esto es para la vista vJugadores*/
/* #infoEquipos {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(209, 209, 209);
}
#infoJugadores{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 40px;
}
#infoEntrenadores{
    display: grid;
    grid-template-columns: auto auto;
}
#infoEquipos h4{
    margin-top: 150px;
    font-family: Impact;
    color: rgb(134, 108, 108);
    text-shadow: 2px 2px black;
}
#infoEquipos img{
    margin: 10px;
}
#inputGroupSelect01{
    position: absolute;
    top: 250px;
    left: 30px;
    height: 30px;
    width: 100px;
} */

/*Estilo de los equipos*/
.infoEquipos{
	margin-top: 10px;
	margin-bottom: 10px;
    background-color: white;
    border: 1px solid black;
}

.teamName{
	color: #45aba6;
	font-family:Courier New;
	background-color:#0cf3c1;
	margin-bottom: 0;
}

.infoEquipos>.row{
    margin: 0;
    
}


.infoEquipos>.row>div{
    border: 1px solid #099e7e;
}

.nameCat{
	color: #45aba6;
	text-decoration: underline;
	font-weight: bold;
}
/*---------------------*/


/* css de cards*/

.card{
    margin: 5px;
    transition: 1s;
}
.card-container{
    justify-content: space-around !important;
}

.card-body>ul{
    padding: 0;
    list-style-type: none;
}
.card:hover{
    background-color: #45f854;
	color: white;
	cursor: pointer;
}
.imgTecnico{
	height: 270px;
	
}
.imgJugador{

	width: 100% !important;
	height: 220px;
}
.card-img-top{
	border-radius: 50% !important;
}


/* css de model*/

.modal-title h5{
	font-weight: bold;
}
/*--------------------*/

/*--------------------------*/
h4:nth-child(1){
    margin-left: 50px;
}
@media(max-width:800px){
    #infoEquipos {
        grid: none;
    }
    #infoEquipos h4{
        text-align: center;
    }
    #infoEntrenadores{
        margin-left: 37px;
    }
}
@media(max-width:600px){
    #infoJugadores{
        grid: none;
    }
    #infoEntrenadores{
        grid: none;
    }
}
/* Esto es para la vista vJugadores*/


body {
		font-family: 'Varela Round', sans-serif;
	}
	.modal-login {		
		color: #636363;
		width: 350px;
	}
	.modal-login .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
	}
	.modal-login .modal-header {
		border-bottom: none;   
        position: relative;
        justify-content: center;
	}
	.modal-login h4 {
		text-align: center;
		font-size: 26px;
		margin: 30px 0 -15px;
	}
	.modal-login .form-control:focus {
		border-color: #70c5c0;
	}
	.modal-login .form-control, .modal-login .btn {
		min-height: 40px;
		border-radius: 3px; 
	}
	.modal-login .close {
        position: absolute;
		top: -5px;
		right: -5px;
	}	
	.modal-login .modal-footer {
		background: #ecf0f1;
		border-color: #dee4e7;
		text-align: center;
        justify-content: center;
		margin: 0 -20px -20px;
		border-radius: 5px;
		font-size: 13px;
	}
	.modal-login .modal-footer a {
		color: #999;
	}		
	.modal-login .avatar {
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: -70px;
		width: 95px;
		height: 95px;
		border-radius: 50%;
		z-index: 9;
		background: #60c7c1;
		padding: 15px;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	}
	.modal-login .avatar img {
		width: 100%;
	}
	.modal-login.modal-dialog {
		margin-top: 80px;
	}
    .modal-login .btn {
        color: #fff;
        border-radius: 4px;
		background: #60c7c1;
		text-decoration: none;
		transition: all 0.4s;
        line-height: normal;
        border: none;
    }
	.modal-login .btn:hover, .modal-login .btn:focus {
		background: #45aba6;
		outline: none;
	}
	.trigger-btn {
		display: inline-block;
		margin: 100px auto;
	}
	
/*End modal*/

