/*estilo para la vista PRESENTACION*/

  /*estilo para categorias*/
  body{
	overflow-x: hidden;
}
#categoriasContainer{
	background-color: rgb(139, 155, 230) !important;
	padding: 5px;
	margin-top: -5px;
}
.iCategorias{
height: 250px;
color: white;
text-align: center;
}


.tab-content{
  background-color:white;
  padding: 5px;
  border: 5px #82d8ee ridge ;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
color: #fff !important;
background-color: rgb(75, 221, 95) !important;
text-align: center !important;
}
.nav-pills .nav-link {
border-radius: 0.25rem;
}



#categoriasContainer a {
color: black !important;
background-color: transparent !important;
text-decoration: none !important;
}



.tab-pane h2{
  color: #45aba6;
}
.col-4 h4{
  color: white !important;
} 

*, ::after, ::before {
box-sizing: border-box !important;
}
/*----------------*/

/*para centrar el NAVBAR*/
@media (max-width: 991px) {
.navbar-center {
  text-align: center;
  font-size: 25px;
}
.divider{
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
}
/*
.logout{
  display: none;
}
.btn-login{
  display: block;
}
*/

/*----------------*/

/*-----------------------------------*/

/*Modal*/

body {
	  font-family: 'Varela Round', sans-serif;
  }
 