/*estilo para la vista PRESENTACION*/

  /*estilo para categorias*/
  body{
	overflow-x: hidden;
}
#categoriasContainer{
	background-color: rgb(139, 155, 230) !important;
	padding: 5px;
	margin-top: -5px;
}
.iCategorias{
padding: 10px;
color: white;
text-align: center;
border-bottom-right-radius: 20px;
height: 25% !important;
}





.tab-content{
  background-color:white;
  padding: 5px;
  border: 5px #82d8ee ridge ;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
color: #fff !important;
background-color: rgb(75, 221, 95) !important;
text-align: center !important;
}
.nav-pills .nav-link {
border-radius: 0.25rem;
}



#categoriasContainer a {
color: black !important;
background-color: transparent !important;
text-decoration: none !important;
}



.tab-pane h2{
  color: #45aba6;
}
.col-4 h4{
  color: white !important;
} 

*, ::after, ::before {
box-sizing: border-box !important;
}
/*-------CSS listas de equipos---------*/

.listEquipos h5{
  color: #45aba6;
  font-weight: bold;
  }
  .equipoItem{
    transition:0.25s;
  }
  
  
  .equipoItem span:hover{
    color: #45aba6;
    cursor: pointer;
  }
 
  
  
  .listaDatos{
    display: none;
  }
  /*-----------------------------------*/
  #footer{
    position: absolute !important;
    bottom: 0;
  }
/*para centrar el NAVBAR*/
@media (max-width: 586px) {
  #categoriasContainer{
    flex-direction: column !important;
  }
  .iCategorias{
    max-width: 100% !important;
    margin-bottom: 10px;
    border-radius: 0;
  }
  .infoEquipos{
    max-width: 100% !important;
  
  }

}
/*
.logout{
  display: none;
}
.btn-login{
  display: block;
}
*/

/*----------------*/

/*-----------------------------------*/

/*Modal*/

body {
	  font-family: 'Varela Round', sans-serif;
  }
 