body{
    margin: 0px;
    padding: 0px;
}
#header {
    width: 100%;
    height: 150px;
    background-image: url("https://www.partners.net/sites/default/files/hep2017/header-sponsorship-es.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
