#Options -Indexes
#Deny from all

# Options -Indexes

#<Files ~ "^.*\.png|.*\.jpg">
# Allow from all
#</Files>


#RewriteEngine on
#RewriteRule ^(.*)$ http://tres.fpz1920.com/controller/enviar_foto2.php?path=$1 [QSA,L]